<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SRMC</title>
<link rel="stylesheet" type="text/css" href="../../sitestatic/css/screen.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="../../sitestatic/css/print.css" media="print"/>
<!--[if IE]><link rel="stylesheet" href="../../sitestatic/css/print.css" type="text/css" media="screen, projection"><![endif]-->
{% block css %}
{% endblock css %}
{% block js %}        
{% endblock js %}
</head>

<body>
<!-- miolo -->
{% block conteudo %}
{% endblock conteudo %}
<!-- miolo -->
</body>
</html>
